@font-face {
    font-family: regular;
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: demi;
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}

@font-face {
    font-family: reg-bold;
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}