$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colors
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary Colors
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


