@font-face {
  font-family: Avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
* {
  font-family: Avenir;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323232;
  width: 100%;
  position: fixed;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header__wrapper {
    flex-direction: row;
    width: 80rem;
    margin-inline: auto;
  }
}
.header__logo {
  display: flex;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 1rem 2rem;
  }
}
.header__logo-img {
  margin: 0;
}
.header__nav {
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav {
    width: auto;
    margin: 0 1.5rem;
    height: 71px;
  }
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  margin: 0;
}
@media (min-width: 768px) {
  .header__nav-list {
    height: 4.4375rem;
  }
}
.header__nav-item {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__nav-item {
    margin: 1.25rem 1rem 0rem 1rem;
  }
}
.header__nav-link {
  height: 2.4375rem;
  width: 8.125rem;
  text-decoration: none;
  color: #E1E1E1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 400;
}
.header__nav-link:hover {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.header__nav-item--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}
.header__nav-item--inactive {
  font-weight: 400;
}
.header__nav-item--inactive:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}

.blank-space {
  height: 4.875rem;
}
@media (min-width: 768px) {
  .blank-space {
    height: 4.4375rem;
  }
}

.hero-banner {
  background-image: url(../../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
}
.hero-banner--shows {
  background-image: url(../../assets/Images/hero-shows.jpg);
}
.hero-banner__wrapper {
  display: flex;
  min-height: 45vh;
  width: auto;
  height: 30vw;
}
.hero-banner__background {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100vw;
  display: inline-flex;
  align-items: center;
}
.hero-banner__title-section {
  margin: 1rem;
}
@media (min-width: 768px) {
  .hero-banner__title-section {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-banner__title-section {
    width: 80rem;
    margin-inline: auto;
  }
}
.hero-banner__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 1rem;
}
.hero-banner__title {
  color: #FFFFFF;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero-banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.hero-banner__soundcloud {
  max-height: 15vh;
  margin-top: 1rem;
}

.footer {
  background-color: #323232;
  padding: 1.5rem 1rem;
}
@media (min-width: 1280px) {
  .footer__wrapper {
    width: 80rem;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .footer__header {
    margin: 2.25rem;
    display: flex;
  }
}
.footer__heading {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-right: 1rem;
  }
}
.footer__social-icon-list {
  margin: 1rem 0;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__social-icon-list {
    display: flex;
    gap: 1.125rem;
    width: auto;
    max-width: 28%;
    justify-content: normal;
  }
}
.footer__logo-section {
  margin-left: auto;
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: block;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-between;
  }
}
.footer__contact-info {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__contact-info {
    margin: 0;
  }
}
.footer__contact-details {
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .footer__contact-details {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }
}
.footer__contact-details--name {
  font-weight: 600;
  margin: 0;
}
.footer__contact-details--link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .copy {
    margin-left: 2.25rem;
  }
}
.copy__logo-section {
  margin-top: 3rem;
}
.copy__logo {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .copy__logo {
    display: none;
  }
}
.copy__message {
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .copy__message {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.about {
  background-color: #FFFFFF;
  margin: 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    width: 80rem;
    margin-inline: auto;
  }
}
.about__heading {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__heading {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.about__img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about__body-section {
    margin: 0 4rem;
  }
}
@media (min-width: 768px) {
  .about__body-text {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2.25rem;
         column-gap: 2.25rem;
  }
}
.about__body {
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .about__body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin-top: 0;
  }
}
.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 70%;
  }
}
.about__quote-author {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about__quote-author {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.about__subheading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.gallery {
  background-color: #FAFAFA;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .gallery {
    margin: 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .gallery__wrapper {
    width: 80rem;
    margin-inline: auto;
  }
}
.gallery__header {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery__header {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.gallery__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.gallery__img-section {
  display: inline-flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .gallery__img-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    margin: 0 1rem 2.25rem 1rem;
  }
}
@media (min-width: 1280px) {
  .gallery__img-section {
    margin: 0;
  }
}
.gallery__img {
  margin: 0.5rem 0;
  width: 100%;
  height: auto;
  transition: filter 0.375s, transform 0.5s, border-radius 0.5s;
}
.gallery__img:hover {
  filter: brightness(80%);
  transform: scale(1.03);
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 30%;
    margin: 0;
  }
}

.comment {
  margin: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .comment {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    width: 73.75rem;
    margin: 2.25rem auto;
  }
}
.comment__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comment__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-weight: 600;
  }
}

.new-comment {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .new-comment {
    justify-content: center;
    margin: 2.25rem 4.5rem 0rem 4.5rem;
    width: 33.25rem;
  }
}
.new-comment__icon {
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 2rem;
  margin: 1.375rem 1rem 0 0;
}
@media (min-width: 768px) {
  .new-comment__form-wrapper {
    width: 30rem;
  }
}
.new-comment__subheader {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #AFAFAF;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .new-comment__subheader {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-weight: 600;
  }
}
.new-comment__subheader--name {
  margin-top: 0;
}
.new-comment__name-form {
  width: 14.75rem;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  height: 2.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
}
.new-comment__name-form::-moz-placeholder {
  color: #323232;
}
.new-comment__name-form:-ms-input-placeholder {
  color: #323232;
}
.new-comment__name-form::placeholder {
  color: #323232;
}
.new-comment__name-form:focus {
  outline: none !important;
  border: 1px solid #000000;
}
@media (min-width: 768px) {
  .new-comment__name-form {
    width: 30rem;
    height: 3rem;
    padding: 1rem;
  }
}
.new-comment__error {
  border: 1px solid #D22D2D;
}
.new-comment__comment-form {
  width: 14.75rem;
  min-height: 6rem;
  background-color: #FAFAFA;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.25rem;
  height: 2.25rem;
  padding: 0.75rem;
  resize: none;
}
.new-comment__comment-form::-moz-placeholder {
  color: #323232;
}
.new-comment__comment-form:-ms-input-placeholder {
  color: #323232;
}
.new-comment__comment-form::placeholder {
  color: #323232;
}
.new-comment__comment-form:focus {
  outline: none !important;
  border: 1px solid #000000;
}
@media (min-width: 768px) {
  .new-comment__comment-form {
    width: 30rem;
    height: 3rem;
    padding: 1rem;
  }
}
.new-comment__error {
  border: 1px solid #D22D2D;
}
.new-comment__btn-section {
  background-color: #323232;
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.75rem;
  height: 2.5rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  border: 0;
}
.new-comment__btn-section::-moz-placeholder {
  text-align: center;
  margin: 0.5rem;
}
.new-comment__btn-section:-ms-input-placeholder {
  text-align: center;
  margin: 0.5rem;
}
.new-comment__btn-section::placeholder {
  text-align: center;
  margin: 0.5rem;
}
@media (min-width: 768px) {
  .new-comment__btn-section {
    margin-left: auto;
    margin-bottom: 1.5rem;
    width: 10rem;
  }
}

.comments-section {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments-section {
    margin: 0rem 4.5rem 1rem 4.5rem;
  }
}
.comments-section__container {
  width: 33.25rem;
}
.comments-section__comment {
  display: flex;
  margin-top: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
.comments-section__icon {
  background-color: #E1E1E1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 2rem;
  margin-right: 1rem;
}
.comments-section__comment-section {
  width: 14.75rem;
}
@media (min-width: 768px) {
  .comments-section__comment-section {
    width: 30rem;
    margin-bottom: 1rem;
  }
}
.comments-section__comment-heading {
  display: flex;
  justify-content: space-between;
}
.comments-section__top-left {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .comments-section__top-left {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.comments-section__top-right {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .comments-section__top-right {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.comments-section__comment-body {
  max-width: 14.75rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  margin: 0.5rem 0 0.5rem 0;
  overflow-wrap: break-word;
}
@media (min-width: 768px) {
  .comments-section__comment-body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    max-width: 30rem;
  }
}/*# sourceMappingURL=bio.css.map */