@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

// header

* {
    font-family: regular;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
        
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bandsite-black;
    width: 100%;
    position: fixed;

    @include tablet {
        flex-direction: row;
    }

    &__logo {
        display: flex;
        padding-top: 1rem;
        @include tablet{
        margin: 1rem 2rem;
        }
    }

    &__logo-message{
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: regular;
    }

    &__nav{
        width: 100%;
        @include tablet{
            width: auto;
            padding: 0 1.5rem;
        }
    }

    &__nav-list{
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-around;
        margin: 0;
    }

    &__nav-item{
        color: $mercury;
        width: 100%;
        text-align: center;
        font-size: .875rem;
        line-height: 1.375rem;
        padding: 1.75rem 0rem;

        @include tablet{
            margin: 0 2rem;
        }
    }

    &__nav-item--active{
        color: $white;
        border-bottom: 3px solid $white;
        font-family: demi;
    }
}

.hero-banner{
    display: flex;
    min-height: 45vh;
    max-width: 100%;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    // padding-top: 5.0625rem;
    

    &__background{
        background-color: rgba($color: #323232, $alpha: 0.5);
        width: 100%;
        display: flex;        
        align-items: center;

    }

    &__title-section{
        padding: 1rem;

    }

    &__title{
        color: white;
        margin: 0;
        font-family: demi;
        font-size: 1.5rem;
        line-height: 2rem;

        @include tablet{
            font-size: 3.75rem;
            line-height: 4.25rem;
            padding-left: 1.5rem;
        }
    }

}



.site-body{

}

.about{
    background-color:$white ;
    margin: 1rem;

    @include tablet{
        margin: 2.25rem;
    }

    &__header{

    }

    &__heading{
        color: $bandsite-black;
        font-family: reg-bold;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.5rem;
        padding-bottom: 1rem;

    }

    &__img{
        max-width: 100%;
    }

    &__body-section{

    }

    &__body{
        color: $bandsite-black;
        font-size: .8125rem;
        line-height: 1.125rem;
        font-family: regular;
        margin: 1rem 0;
        }

    &__quote{
        font-family: demi;
        font-size: .875rem;
        line-height: 1.375rem;
    }

    &__subheading{
        font-family: demi;
        font-size: .875rem;
        line-height: 1.375rem;

    }


}

.gallery{
    background-color:$white ;
    margin: 1rem;

    &__header{

    }

    &__heading{
        font-family: reg-bold;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.5rem;
    }

    &__img-section{
        display: inline-flex;
        flex-direction: column;
    }

    &__img{
        width: 100vw;
        padding: .5rem 0 ;
        width: 100%;
        height: auto;
    }
}

.footer{
    background-color: $bandsite-black;
    padding: 1.5rem 1rem;
    &__header{

    }

    &__heading{
        color: $white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: demi;
    }

    &__social{

    }

    &__social-icon-list{
        margin: 1rem 0;
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    &__social-icon{

    }

    &__contact{

    }

    &__contact-info{
        margin: 1rem 0;

    }

    &__contact-details{
        color: $white;
        font-family: regular;
        font-size: .8125rem;
        line-height: 1.125rem;
        padding: .5rem 0 ;
    }

    &__contact-details--name{
        font-family: demi;
        // padding: 1rem 0;
    }

    &__contact-details--link{
        text-decoration: none;
        // margin: 1rem 0 ;
    }
}

.copy{

    &__logo-section{
        margin-top: 3rem;
    }

    &__logo{
        color: $white;
        font-family: regular;
        font-size: 1.5rem;
        line-height: 32px;
    }

    &__message-section{

    }

    &__message{
        color: $white;
        font-size: .8125rem;
        line-height: 1.125rem;

    }
}