@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;


* {
    font-family: regular;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
        
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bandsite-black;
    width: 100%;
    position: fixed;

    @include tablet {
        flex-direction: row;
    }

    &__logo {
        display: flex;
        margin-top: 1rem;
        @include tablet{
        margin: 1rem 2rem;
        }
    }

    &__logo-link{
    }

    &__logo-img{
        margin: 0;
    }

    &__nav{
        width: 100%;
        @include tablet{
            width: auto;
            margin: 0 1.5rem;
            height: 71px;
        }
    }

    &__nav-list{
        display: flex;
        list-style: none;
        margin: 0;
        justify-content: space-around;
        margin: 0;

        @include tablet{

            height: 4.4375rem;
        }
    }

    &__nav-item{
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        padding-bottom: 1rem;

        @include tablet{
            margin: 1.5rem 1rem 0rem 1rem;
        }
    }

    &__nav-link{
        text-decoration: none;
        color: $mercury;
        @include m-body;
        
        

        @include tablet{
            @include dt-body;
            font-family: reg-bold;
        }
        
    }

    &__nav-item--active{
        color: $white;
        border-bottom: 3px solid $white;
        font-family: reg-bold;
    }

    &__nav-link--inactive{
        font-family: regular;
    }

}
.blank-space{
    height: 6rem;

    @include tablet{
        height: 4.4375rem;
    }
}
.hero-banner{
    
    display: flex;
    min-height: 45vh;
    max-width: 100%;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;

    &__background{
        background-color: rgba($color: #323232, $alpha: 0.5);
        width: 100%;
        display: flex;        
        align-items: center;

    }

    &__title-section{
        margin: 1rem;
        @include tablet{
            margin: 2.25rem;
        }

    }

    &__title{
        color: white;
        margin: 0;
        @include m-page-header;

        @include tablet{
            @include dt-page-header;
        }
    }

}



.site-body{

}

.about{
    background-color:$white ;
    margin: 1rem;

    @include tablet{
        margin: 2.25rem;
    }

    &__header{
    
    }

    &__heading{
        color: $bandsite-black;
        @include m-section-header;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        @include tablet {
            margin-top: 3rem;
            margin-bottom: 2.25rem;
            @include dt-section-header;
        }
    }

    &__img{
        max-width: 100%;
    }

    &__body-section{
        @include tablet {
            margin: 0 4rem;
        }
    }
    &__body-text{
        @include tablet{
            column-count: 2;
            column-gap: 2.25rem;
        }
    }

    &__body{
        color: $bandsite-black;
        @include m-body;
        margin: 1rem 0;
        @include tablet{
            @include dt-body;
            margin-top: 0
        }
        }

    &__quote{
        @include m-subheader;
        @include tablet{
            @include dt-subheader;
            margin-top: 1rem;
        }
    }

    &__quote-author{
        @include m-body;
        @include tablet {
            @include dt-body;
            font-family: demi;
        }
    }

    &__subheading{
        @include m-subheader;
        @include tablet{
            @include dt-subheader;
        }

    }


}

.gallery{
    background-color:$alabaster ;
    margin: 1rem 0;
    @include tablet{
        margin: 2.25rem 0;
    }

    &__header{
        padding: 1.5rem 1rem 1rem 1rem;
        @include tablet{
            padding: 3rem 2.25rem 2.25rem 2.25rem;
        }
    }

    &__heading{
        @include m-section-header;
        @include tablet{
            @include dt-section-header;
        }
    }

    &__img-section{
        display: inline-flex;
        flex-direction: column;
        margin: 0 1rem;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1.125rem;
            // margin: 0 2.25rem 0 2.25rem;
            

        }
    }

    &__img{
        margin: .5rem 0 ;
        width: 100%;
        height: auto;
        @include tablet{
            width: 30%;
            margin: 0;
        }
    }
}

.footer{
    background-color: $bandsite-black;
    padding: 1.5rem 1rem;

    &__header{
        @include tablet {
            margin: 2.25rem;
            display: flex;
            
        }
    }

    &__heading{
        color: $white;
        @include m-section-header;
        @include tablet{
            @include dt-section-header;
            margin-right: 1rem;
        }
    }

    &__social{

    }

    &__social-icon-list{
        margin: 1rem 0;
        display: flex;
        width: 40%;
        justify-content: space-between;
        @include tablet {
            display: flex;
            gap: 1.125rem;
            width: auto;
            max-width: 28%;
            justify-content: normal;
        }
    }

    &__social-icon{
        @include tablet{

        }
    }

    &__logo-section{
        margin-left: auto;
    }

    &__logo{
        display:none;
        @include tablet{
            display: block;
            margin-left: auto;
        }

    }

    &__contact{
        @include tablet{
            margin: 0 2.25rem;
            display: flex;
            justify-content: space-between;
        }
    }

    &__contact-info{
        margin: 1rem 0;
        @include tablet{
            margin: 0;
        }
    }

    &__contact-details{
        color: $white;
        @include m-footer;
        margin: .5rem 0 ;
        @include tablet{
            @include dt-footer;
            margin: 0;
        }
    }

    &__contact-details--name{
        font-family: demi;
    }

    &__contact-details--link{
        text-decoration: none;
    }
}

.copy{
    @include tablet{
        margin-left: 2.25rem;
    }
    
    &__logo-section{
        margin-top: 3rem;
    }

    &__logo{
        color: $white;
        @include tablet{
            display: none;
        }
    }

    &__message-section{

    }

    &__message{
        color: $white;
        @include m-footer;
        @include tablet{
            @include dt-footer;
        }
    }
}