@font-face {
  font-family: regular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: demi;
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: reg-bold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
* {
  font-family: regular;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323232;
  width: 100%;
  position: fixed;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header__wrapper {
    flex-direction: row;
    width: 80rem;
    margin-inline: auto;
  }
}
.header__logo {
  display: flex;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 1rem 2rem;
  }
}
.header__logo-img {
  margin: 0;
}
.header__nav {
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav {
    width: auto;
    margin: 0 1.5rem;
    height: 1rem;
  }
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  margin: 0;
}
@media (min-width: 768px) {
  .header__nav-list {
    height: 4.4375rem;
  }
}
.header__nav-item {
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .header__nav-item {
    margin: 1.5rem 1rem 0rem 1rem;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #E1E1E1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
  font-family: regular;
}
.header__nav-link:hover {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: regular;
  }
}
.header__nav-item--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-family: reg-bold;
}
.header__nav-item--inactive {
  font-family: regular;
}
.header__nav-item--inactive:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  font-family: reg-bold;
}

.blank-space {
  height: 5.125rem;
}
@media (min-width: 768px) {
  .blank-space {
    height: 4.4375rem;
  }
}

.hero-banner {
  background-image: url(../../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
}
.hero-banner--shows {
  background-image: url(../../assets/Images/hero-shows.jpg);
}
.hero-banner__wrapper {
  display: flex;
  min-height: 45vh;
  width: auto;
  height: 30vw;
}
.hero-banner__background {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100vw;
  display: inline-flex;
  align-items: center;
}
.hero-banner__title-section {
  margin: 1rem;
}
@media (min-width: 768px) {
  .hero-banner__title-section {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-banner__title-section {
    width: 80rem;
    margin-inline: auto;
  }
}
.hero-banner__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: demi;
  color: #FFFFFF;
  font-family: regular;
}
.hero-banner__title {
  color: #FFFFFF;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: reg-bold;
}
@media (min-width: 768px) {
  .hero-banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: reg-bold;
  }
}
.hero-banner__soundcloud {
  max-height: 15vh;
}

.footer {
  background-color: #323232;
  padding: 1.5rem 1rem;
}
@media (min-width: 1280px) {
  .footer__wrapper {
    width: 80rem;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .footer__header {
    margin: 2.25rem;
    display: flex;
  }
}
.footer__heading {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: reg-bold;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: reg-bold;
    margin-right: 1rem;
  }
}
.footer__social-icon-list {
  margin: 1rem 0;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__social-icon-list {
    display: flex;
    gap: 1.125rem;
    width: auto;
    max-width: 28%;
    justify-content: normal;
  }
}
.footer__logo-section {
  margin-left: auto;
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: block;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-between;
  }
}
.footer__contact-info {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__contact-info {
    margin: 0;
  }
}
.footer__contact-details {
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .footer__contact-details {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: regular;
    margin: 0.5rem 0;
  }
}
.footer__contact-details--name {
  font-family: demi;
  margin: 0;
}
.footer__contact-details--link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .copy {
    margin-left: 2.25rem;
  }
}
.copy__logo-section {
  margin-top: 3rem;
}
.copy__logo {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .copy__logo {
    display: none;
  }
}
.copy__message {
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
}
@media (min-width: 768px) {
  .copy__message {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: regular;
  }
}

.shows__wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
.shows__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: reg-bold;
  font-family: demi;
  color: #323232;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.show {
  border-bottom: 1px solid #E1E1E1;
}
.show__info-heading {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: reg-bold;
  color: #AFAFAF;
}
.show__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
  color: #323232;
  font-family: demi;
}
.show__venue {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
  color: #323232;
}
.show__location {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: regular;
  color: #323232;
}
.show__btn-section {
  background-color: #323232;
  border-radius: 0.25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show__btn {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: demi;
  width: inherit;
  text-align: center;
  margin: 0.5rem;
  color: #FFFFFF;
}/*# sourceMappingURL=shows.css.map */