@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/global' as *;

.shows-page-body{

}

.shows{
    margin: 0 0;


    &__wrapper{
        // margin-left: 1rem;
        // margin-right: 1rem;

    }

    &__heading{
        @include m-subheader;
        font-weight: 700;
        color: $bandsite-black;
        margin: 1.5rem 1rem 1rem 1rem;
    }

    &__header{

    }
}

.show{

    &__wrapper{
        margin: 1rem 0;
        border-bottom: 1px solid $mercury;
    }

    &__info{
        // margin-top: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    &__info-heading{
        @include m-label-button;
        color: $silver;
        font-weight: 600;
    }

    &__dates{

    }

    &__date{
        @include m-body;
        color: $bandsite-black;
        font-weight: 600;
    }

    &__venues{

    }

    &__venue{
        @include m-body;
        color: $bandsite-black;
    }

    &__locations{

    }

    &__location{
        @include m-body;
        color: $bandsite-black;
    }

    &__btn-section{
        background-color: $bandsite-black;
        border-radius: .25rem;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn{
        @include m-subheader;
        width: inherit;
        text-align: center;
        margin: .5rem auto;
        color: $white;

    }
}